<?xml version="1.0" encoding="utf-8"?>
<monthly>
  <event>
    <id>4</id>
    <name>test</name>
    <startdate>2022-02-09</startdate>
    <enddate>2022-02-24</enddate>
    <color>#3901FF</color>
    <affichage>0</affichage>
  </event>
  <event>
    <id>5</id>
    <name>test</name>
    <startdate>2022-01-10</startdate>
    <enddate>2022-02-15</enddate>
    <color>#FF0000</color>
    <affichage>0</affichage>
  </event>
  <event>
    <id>7</id>
    <name>test</name>
    <startdate>2022-01-01</startdate>
    <enddate>2022-01-10</enddate>
    <color>#FFF688</color>
    <affichage>2</affichage>
  </event>
  <event>
    <id>8</id>
    <name>test</name>
    <startdate>2022-01-15</startdate>
    <enddate>2022-02-09</enddate>
    <color>#FFA000</color>
    <affichage>1</affichage>
  </event>
  <event>
    <id>9</id>
    <name>test</name>
    <startdate>2022-02-17</startdate>
    <enddate>2022-02-28</enddate>
    <color>#00FF4D</color>
    <affichage>4</affichage>
  </event>
  <event>
    <id>10</id>
    <name>test</name>
    <startdate>2022-01-21</startdate>
    <enddate>2022-01-07</enddate>
    <color>#FFA000</color>
    <affichage>3</affichage>
  </event>
</monthly>
